@import url(https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto&display=swap);
/* Google fonts */

* {
  margin: 0px;
  padding: 0px;
}



.container {
  padding: 0px 200px;
}

.flex {
  display: flex;
  gap: 2rem;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 37px 0px 34px 0px;
}

.navbar a {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #939393;
}

.navbar a.active {
  color: #000000;
}

.navbar .logo a {
  font-size: 40px;
  color: #000000;
}


.hero {
  height: 568px;
  width: auto;
  background-image: url(/images/hero_image.png);
  background-size: cover;
  background-position: center;
}

.hero h1 {
  margin: auto;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cta {
  height: 8rem;
}

.cta h2 {
  margin: auto;
  text-transform: uppercase;
  font-weight: 400;
}

.searchbar {
  height: 4rem;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: flex-end;
  font-weight: 400;
  color: #817B7B;
}

.products {
  flex-wrap: wrap;
  margin-top: 41px;
  justify-content: center;
}

.product-card {
  flex-direction: column;
  min-height: 375px;
  width: 250px;
}

.product-card img {
  width: 250px;
  height: 375px;
  border: 0px;
}

.product-card .product-details {
  margin-top: auto;
}

.product-card .product-details p {
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  ;
  overflow-x: hidden;
}

.product-card .product-card-footer {
  margin-top: 20px;
  gap: 1rem;
  justify-content: space-between;
  bottom: 0;
}

.product-card .product-card-footer .button {
  border: 0px;
  color: whitesmoke;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-card .product-card-footer .view-more-button {
  background-color: transparent;
  color: #0d0d0d;
  border: 1px solid #0d0d0d;
}

.product-card .product-card-footer .add-to-cart-button {
  background-color: #0d0d0d;
}

.pagination {
  font-family: 'Crimson Text', serif;
  background-color: #464646;
  margin-top: 80px;
  height: 87px;
  justify-content: space-between;
  align-items: center;
}

.pagination a {
  font-size: 17px;
  color: #888888;
  font-weight: 400px;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  background-color: #0d0d0d;
  font-family: 'Crimson Text', serif;
  padding-bottom: 101px !important;
}

footer h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

footer .footer-top {
  color: whitesmoke;
  justify-content: space-between;
  padding-top: 54px;
}

footer .footer-top nav {
  margin-top: 29px;
}

footer .footer-top nav a {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  line-height: 23px;
}

footer .footer-top nav a:not(:first-child) {
  margin-top: 13px;
}

footer .footer-bottom {
  color: whitesmoke;
  border-top: 1px solid #515151;
  margin-top: 54px;
  padding-top: 37px;
}

footer .footer-bottom .footer-social {
  width: 141px;
}

footer .footer-social .social-icons {
  margin-top: 12px;
  gap: .5rem;
  align-items: center;
}

footer .footer-bottom .footer-subscribe {
  margin-left: 93px;
}

footer .footer-bottom input {
  margin-top: 29px;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #504F4F;
  width: 310px;
  color: #6B6969;
  line-height: 23px;
}

footer .footer-bottom .footer-preferences {
  margin-left: auto;
}

footer .footer-bottom .footer-preferences label {
  color: #6B6969;
}

footer .footer-bottom .footer-preferences select {
  background-color: transparent;
  border: 0px;
  color: whitesmoke;
}
